<!DOCTYPE html>
<html lang="zh-Hant">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta name="description" content="你好！我是Luna，這是我的個人介紹頁。">
  <meta name=”robots” content="index, follow">
  <meta name="keywords" content="<%= keyword %>">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap"
    rel="stylesheet">
  <!-- <link id="icon" rel="icon" href="/public/default_foreground.png"> -->
  <link id="icon" rel="icon" href="/src/assets/images/luna.png">
  <meta property="og:title" content="Luna的個人介紹頁">
  <meta property="og:type" content="介紹頁">
  <meta property="og:description" content="你好！我是Luna，這是我的個人介紹頁，這裡有關於我的個人簡介。">
  <meta property="og:site_name" content="Luna">
  <meta property="og:locale" content="zh_TW">
  <meta property="og:url" content="http://amytw.com">
  <meta property="og:image" content="/public/<%= logo %>">
  <title>
Luna的個人介紹頁 </title>
  <script rel="preload" type="text/javascript">
    const preloadFns = () => {
      console.log("proload before main.js");
    }
  </script>
</head>

<body>
  <div id="app"></div>
  <!-- built files will be auto injected -->
  <script type="module" src="/src/main.js" defer></script>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>
